body {
  margin: 0;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
section {
  margin-right: 9%;
  margin-left: 9%;
}
#nav-logo {
  float: left;
  height: fit-content;
  width: 13%;
  padding-top: 16px;
  padding-left: 9%;
  padding-right: 3%;
}
.navbar {
  background-color: rgb(154, 84, 63);
  display: flex;
  gap: 8%;
}

.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  display: inline;
  font-weight: bold;
}
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 32px 20px;
  background-color: inherit;
  font-weight: bold;
  color: rgb(254, 228, 186);
}
.dropdown .dropbtnimg {
  border: none;
  outline: none;
  color: white;
  padding: 22% 0% 10% 0%;
  width: 80%;
  background-color: inherit;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(255, 153, 0);
}
.navbar a:hover,
.dropdown:hover .dropbtnimg {
  background-color: rgb(255, 153, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 153, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(226, 222, 222);
  padding: 12px 40px 12px 16px;

  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#lang_dropdown {
  width: 220px;
}
#lang_dropdown_a {
  width: 100px;
  float: left;
}
#lang_dropdown_b {
  width: 100px;
  float: right;
}
#search-logo {
  height: fit-content;
  padding-top: 40%;
  padding-left: 14%;
}
#nav_border {
  border: 2px solid rgb(254, 153, 1);
  margin: auto;
}
#jumbotron {
  width: 100%;
  height: 464px;
  margin-top: 1px;
}
#jumbotron-text {
  background-color: #000000;
  color: rgb(254, 251, 215);
  bottom: 56px;
  position: relative;
  text-align: center;
}
#description {
  display: block;
  text-align: center;
  background-color: rgba(243, 219, 185);
  color: rgb(61, 61, 61);
  padding: 6% 16% 6% 16%;
  margin-top: -62.5px;
  margin-bottom: 1px;
  font-size: 140%;
  font-family: "Times New Roman", Times, serif;
}
#matirmandir {
  background-color: rgb(253, 239, 159);
  display: grid;
  gap: 5% 2%;
  grid-template-columns: 35% auto;
}

#note_left {
  padding: 10% 0% 10% 10%;
  font-size: 188%;
  line-height: 1.2;
  color: rgb(23, 31, 46);
}
#matirmandir_content {
  padding: 8% 6% 8% 2%;
  color: rgb(54, 64, 81);
  font-weight: 500;
}
#matirmandir_content b {
  color: rgb(23, 31, 46);
}
#matirmandir_content p {
  margin-bottom: 4%;
}
#matirmandir_content a {
  color: rgb(108, 80, 229);
}
.city_of_dawn {
  margin: 6% 5% 5% 5%;
  display: flex;
}
#city_of_dawn_pic {
  width: 33%;
  border-radius: 10px;
  height: 16em;
}
.city_of_dawn_text {
  flex-direction: column;
  padding: 0% 3% 0% 5%;
  font-size: 110%;
  color: rgb(131, 128, 126);
}
.city_of_dawn_text h1 {
  font-size: 200%;
  margin-top: auto;
  margin-bottom: 3%;
  color: rgb(0, 0, 0);
}
.button {
  display: block;
  background-color: rgb(219, 125, 18);
  color: rgb(255, 255, 255);
  border: none;
  padding: 1.5% 4% 1% 4%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 90%;
  cursor: pointer;
  margin-top: 5%;
}
.button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.Visit_Auroville {
  margin: 6% 5% 10% 5%;
  display: flex;
}
#Visit_Auroville_pic {
  width: 33%;
  border-radius: 10px;
  height: auto;
}
.Visit_Auroville_text {
  flex-direction: column;
  padding: 0% 4% 0% 0%;
  font-size: 110%;
  color: rgb(131, 128, 126);
}
.Visit_Auroville_text h1 {
  font-size: 200%;
  margin-top: auto;
  color: rgb(0, 0, 0);
  margin-bottom: 3%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 8px;
}
.card img {
  object-fit: cover;
}
.grid {
  display: grid;
  gap: 6% 3.4%;
  grid-template-columns: auto auto auto;
  margin-bottom: 10%;
}
.grid a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.grid strong {
  font-size: 125%;
}
.grid img {
  height: 223px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.container {
  text-align: center;
  padding: 0% 2% 4% 2%;
  color: rgb(37, 37, 37);
}

.border {
  border-bottom: 1px solid rgb(199, 196, 196);
}
.title1 {
  font-size: 290%;
  text-align: center;
  color: rgb(27, 26, 26);
  margin-top: 3%;
  margin-bottom: 2%;
}
.title {
  font-size: 230%;
  text-align: center;
  color: rgb(95, 93, 93);
  margin-top: 4%;
  margin-bottom: 4%;
}
.title3 {
  font-size: 230%;
  text-align: center;
  color: rgb(95, 93, 93);
  margin-top: 0%;
  margin-bottom: 4%;
}
.card_2 img {
  object-fit: cover;
}

.card_2_link {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Grid_2 {
  display: grid;
  gap: 8% 3.5%;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 8%;
  margin-left: 2%;
  margin-right: 2%;
}

.Grid_2 a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.Grid_2 strong {
  font-size: 88%;
}

.Grid_3 {
  display: grid;
  gap: 4%;
  grid-template-columns: 22% 22% 22% 22%;
  margin-bottom: 6%;
  margin-left: 3%;
  margin-right: 3%;
}
.Grid_3 a {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.space-container {
  text-align: center;
  padding: 0% 2% 15% 2%;
  color: rgb(37, 37, 37);
  font-size: 88%;
}
.Donote_Auro {
  background-color: rgb(255, 223, 188);
  border-radius: 5px;
}
#donate-towards-auroville {
  margin: 0px;
}
.Donote_Auro_Text {
  padding-right: 2%;
  padding-top: 2%;
  font-size: 110%;
  margin-bottom: -4%;
  color: rgb(65, 62, 61);
}
.Donote_Auro_Text h4 {
  font-size: 200%;
  margin: 0px;
  color: rgb(36, 35, 35);
}
.button_grid {
  display: grid;
  gap: 8% 8%;
  grid-template-columns: 20% 30%;
}
#Donate_Button {
  background-color: rgb(255 151 82);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 90%;
  border: none;
  border-radius: 5px;
  padding: 10%;
  margin-bottom: 40%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 13px;
}
#Donate_Button:hover {
  background-color: rgb(238, 200, 165);
  cursor: pointer;
}
.material-symbols-outlined {
  padding: 1px 2px 0px 12px;
}
#Donation_Guidelines {
  background-color: rgb(255, 255, 255);
  color: #000000;
  font-size: 90%;
  border: none;
  border-radius: 5px;
  margin-bottom: 25%;
  margin-top: 13px;
}
#Donation_Guidelines:hover {
  cursor: pointer;
}
#donate {
  float: left;
  margin-right: 5%;
  height: 323px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 380px;
  object-fit: cover;
}
.box {
  display: grid;
}

.box h1 {
  width: 50%;
}

.Grid_2 img {
  height: 150px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}
.Grid_3 img {
  height: 150px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}
.g {
  margin-right: 3%;
  margin-left: 3%;
}

.iframe-grid {
  display: grid;
  margin-bottom: 10%;
  width: 100%;
  gap: 3% 3%;
  margin: 10% 1% 8% 2%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.iframe-grid::-webkit-scrollbar {
  display: none;
}
.item1 {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: rgb(244, 244, 246);
  padding-left: 10px;
  font-weight: bold;
  font-size: 190%;
  padding: 1% 1% 1% 3%;
}
.item2 {
  grid-row: 2;
  height: 100px;
  margin-bottom: 10px;
}
.item3 {
  grid-row: 2;
  font-weight: bold;
  font-size: 112%;
  color: rgb(88, 86, 84);
  padding-left: 66px;
  padding-right: 34px;
}

.item4 {
  grid-row: 3;
}
.item5 {
  grid-row: 3;
  font-weight: bold;
  font-size: 112%;
  color: rgb(88, 86, 84);
  padding-left: 66px;
  padding-right: 34px;
}
.item6 {
  grid-row: 1;
  grid-column: 4 / span 6;
  background-color: rgb(244, 244, 246);
  padding-left: 10px;
  font-weight: bold;
  font-size: 190%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1% 1% 1% 3%;
  width: 91.5%;
}
.item7 {
  grid-row: 2 / span 7;
  grid-column: 4 / span 6;
}
#silhouette {
  margin-bottom: -6px;
  margin-top: 14%;
}
#footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: rgb(211, 192, 192);
  background-color: rgb(0, 0, 0);
  padding-left: 3%;
  padding-bottom: 2%;
  line-height: 12px;
}
#footer a {
  color: rgb(112, 124, 124);
  text-decoration: none;
  line-height: 12px;
}
#footer h4 {
  font-size: 15px;
}
#footer a:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#b {
  padding-left: 10%;
}
#c {
  padding-left: 10%;
}
#d {
  padding-left: 4%;
}
#bottom_line {
  border-bottom: 1px solid rgba(51, 26, 26, 0.25);
}
#inline {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 42%;
}
#sign-in {
  text-align: left;
  text-decoration: none;
}
#bottom {
  border-top: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(160, 153, 153);
  background-color: rgb(0, 0, 0);
  padding-right: 3%;
}
#bottom a {
  text-decoration: none;
  color: rgb(160, 153, 153);
}
#bottom a:hover {
  color: rgb(255, 255, 255);
}
